MAINNET_RPC=
MAINNET_WS=
SEPOLIA_RPC=
PROBER_PK=
SCORER_PK=
LISTENER_PK=
LISTENER_REGION=eu-central
API_URL=http://localhost:3000
API_ADMIN_TOKEN=
SUBGRAPH_URL=
PROBE_LEDGER_ADDRESS=
ROUTE_REGISTRY_ADDRESS=
SCORER_ADDRESS=
